body {
  padding-left: 14em;
  padding-top: 2em;
  font-family: Georgia, "Times New Roman", Times;
  color: rgb(0, 0, 0);
  background-color: rgb(98, 178, 189);
}
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 2em;
  width: 10em;
}
h1 {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}
ul.navbar li {
  background: rgb(170, 255, 251);
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid rgb(70, 70, 70);
}
ul.navbar a {
  text-decoration: none;
  width: 100%;
}
a:hover {
  /* background-color: hotpink; */
  border: 5 solid rgb(153, 255, 0);
}
a:link {
  color: rgb(148, 148, 148);
}
a:visited {
  color: black;
}

table.morpion {
  border-collapse: collapse;
}

table.morpion td {
  border: 3px solid black;
  height: 80px;
  width: 80px;
  text-align: center;
}

.winner {
  text-align: center;
}

table.demineur {
  background-color: darkcyan;
  border-collapse: collapse;
}

table.demineur td {
  border: 2px solid rgb(0, 148, 148);
  height: 35px;
  width: 35px;
  text-align: center;
}

.hidden {
  background-color: rgb(110, 110, 110);
}

.error {
  background-color: rgb(255, 0, 0);
}

.nice {
  background-color: rgb(128, 255, 0);
}
