<html>
    <head>
        <title>KIKI SERVER</title>
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>
        <!-- menu -->
        <ul class="navbar"> 
            <li>
                <a href="kiki?name=sam&age=14">super sam</a>
            </li>
            <li>
                <a href="kiki?name=swan">super swan</a>
            </li>
            <li>
                <a href="initgameguess1">jouer à deviner le nombre de l'ordinateur</a>
            </li>
            <li>
                <a href="initgameguess2">jouer avec l'ordinateur pour qu'il essaye de deviner ton nombre</a>
            </li>
        </ul>
        <!-- ici c'est la template index-->
        {% block content %}
        {% endblock %}
    </body>
</html>