<html>
    <head>
        <title>KIKI SERVER</title>
    </head>
    <body>
        <h1>bienvenue</h1>
        <p>choisir une option :</p>
        <ul>
            <li>
                <a href="kiki?name=sam&age=14">super sam</a>
            </li>
            <li>
                <a href="kiki?name=swan">super swan</a>
            </li>
            <li>
                <a href="initgame">faire une partie</a>
            </li>
        </ul>
        <form action="kiki">
            <p>Entrer un nom</p>
            <input type="text" name="name" />
            <input type="submit" value="envoyer" />
        </form>
    </body>
</html>