<html>
    <head>
        <title>KIKI SERVER</title>
        <link href="static/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
        <!-- menu -->
        <ul class="navbar"> 
            <li>
                <a href="kiki?name=sam&age=14">super sam</a>
            </li>
            <li>
                <a href="kiki?name=swan&age=47">super swan</a>
            </li>
            <li>
                <a href="initgameguess1">deviner le nombre de l'ordi</a>
            </li>
            <li>
                <a href="initgameguess2">l'ordi devine ton nombre</a>
            </li>
            <li>
                <a href="morpion">Jouer au morpion</a>
            </li>
            <li>
                <a href="init_demineur">Démineur</a>
            </li>
        </ul>
        <!-- ici c'est la template index-->
        {% block content %}
        {% endblock %}
    </body>
</html>