{% extends "index.html" %}
{% macro cellMorpion(case, index) -%}
    <td onclick="javascript:location.href='morpion?case={{index}}'">{% if case %}<img src="static/{{ case }}" width="50" />{% endif %}</td>
{%- endmacro %}
{% block content %}
<!-- ici c'est la template home-->
<h1>Morpion</h1>
<table class="morpion">
    <tr>
        {{ cellMorpion(cases[0], 0) }}
        {{ cellMorpion(cases[1], 1) }}
        {{ cellMorpion(cases[2], 2) }}
    </tr>
    <tr>
        {{ cellMorpion(cases[3], 3) }}
        {{ cellMorpion(cases[4], 4) }}
        {{ cellMorpion(cases[5], 5) }}   
    </tr>
    <tr>
        {{ cellMorpion(cases[6], 6) }}
        {{ cellMorpion(cases[7], 7) }}
        {{ cellMorpion(cases[8], 8) }}   
    </tr>
</table>
<br>
{% if victory %}
<div class="winner">
    {% if victory == "Player" %}
    <img src="static/winner.gif" width="250"/>
    {% else %}
    <img src="https://media.giphy.com/media/l3q2J7KgtglQ5GQH6/giphy.gif" width="250" />
    {% endif %}
</div>
{% endif %}
<button onclick="javascript:location.href='morpion?reset=true'"">reset</button>
{% endblock %}